* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ********* Common********** */

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 144px;
    line-height: 50px;
    left: 1161px;
    top: 36px;
    background: #171100;
    border-radius: 999px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;

}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    -webkit-line-clamp: var(--line-clamp, 2);
}

.btn:hover {
    opacity: 0.8;
}

/* HEADER */

.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    align-items: center;
    display: flex;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    font-size: 1.6rem;
    color: #5F5B53;
    padding: 8px 21px;
}

.nav a:hover,
.nav li:active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
    /* font-weight: 600; */
}

.nav li:active a::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 2px;
    left: 21px;
    top: 28px;

    background: #171100;
    border-radius: 1px;
}

.sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

.hero {
    padding: 56px 0 65px;
    background: #FFFCF4;
    position: relative;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}


.hero .media-block .guy-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .hero-summary {
    position: absolute;
    width: 270px;
    right: 0;
    bottom: 48px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px;
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .hero-summary .item+.item {
    margin-top: 22px;
}

.hero .hero-summary .info {
    margin-left: 16px;
}

.hero-summary .item .info .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.hero-summary .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FFF9E8;
}

.hero-summary .item .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.67;
    color: #171100;
}

/* Hero right */

.content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.hero .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
    margin-top: 22px;
}

.hero .cta-group {
    margin: 38px 0;
    display: flex;
    align-items: center;
}

.hero .hero-cta {
    width: 180px;
    line-height: 64px;
    background: var(--primary-color);
    border-radius: 32px;
}

.hero .watch-video {
    background-color: #FFFCF4;
    border: none;
    display: flex;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
}

.watch-video .icon {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    margin-left: 14px;
}

.hero .stats {
    margin-left: -28px;
}

.hero .stats strong {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    padding: 0 8px 0 28px;
}

/* Popular */

.popular {
    margin-top: 135px;
    padding: 65px 0;
}

.popular .popular-top .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
    width: 458px;
    height: 60px;
    margin: 16px 0 55px 0;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.popular-top .control {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}

.popular-top .control-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.courses-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.course-item {
    flex: 1;
    background: #FFFFFF;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
}

.course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.thumb {
    width: 100%;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
}

.course-item .info {
    margin: 16px 22px 22px 22px;
}

.course-item .head,
.course-item .rating,
.course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .title {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .value {
    margin-left: 6px;
    color: #FEA31B;
}

.course-item .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
    width: 326px;
    height: 52px;
}

.course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .btn-book {
    border: none;
}

.course-item .btn-book:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

/* Feedback */

.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;
}


.feedback-item {
    display: flex;
}

.avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-list .title {
    font-family: var(--font-heading);
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #F7F7F7;
}

.feedback-list .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB3;
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 6px;
    background-color: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background-color: var(--primary-color);
    cursor: default;
}

.feedback-item .content {
    margin-left: auto;
    width: 740px;
    height: 160px;
}

.feedback-item .content blockquote {
    margin-left: 30px;
    right: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #FFFFFF;
}

/* Features */

.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.images img.lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.features .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
}

.features .content .cta-btn {
    min-width: 137px;
    counter-reset: #fff;
    background-color: var(--primary-color);
    margin-top: 32px;
}

.features-2 {
    margin-top: 70px;
}

.features-2 .body {
    flex-direction: row-reverse;

}

.features-2 .content {
    width: 49%;
}


.features-2 .images img {
    object-position: bottom;
    width: 470px;
    height: 440px;
}

.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #FFFCF4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    margin: 16px auto 0;
    width: 448px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog .blog-list .blog-item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    background: #FFFFFF;
    border-radius: 16px;
}

.blog .blog-list .blog-item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .blog-list .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.blog .info {
    padding: 20px 20px 28px 20px;
}

.blog .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
    padding-bottom: 12px;
}

.blog .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.blog .date::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    right: -27px;
    height: 1px;
    background: #E2DFDA;
    border-radius: 0.5px;
}

.blog .title {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .blog-item .active-btn {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #FFFFFF;

}

.blog .blog-item .btn:hover {
    background-color: var(--primary-color);
}

.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;
}

.blog .dots .dot {
    width: 6px;
    height: 6px;
    background-color: #5F5B53;
    border-radius: 50%;
    cursor: pointer;
}

.blog .dot.active {
    background-color: var(--primary-color);
}

/* Footer */
.footer {
    padding-top: 96px;
    background: #2E2100;
}

.footer .row {
    display: flex;
    border-bottom: 1px solid #59554B;
    padding-bottom: 38px;
}

.footer .row .column:nth-child(1) {
    width: 35%;
}

.footer .row .column {
    width: 22%;
}

.footer .desc {
    margin-top: 18px;
    max-width: 267px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB2;
}

.footer .social {
    display: flex;
    gap: 18px;
    margin-right: 18px;
    margin-top: 18px;
}

.footer .title {
    display: inline-block;
    padding-bottom: 14px;
    padding-right: 48px;
    border-bottom: 1px solid #59554B;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FFFFFF;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB2;
    margin-top: 12px;
}

.footer .list strong {
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
}

.footer .copyright {
    margin-top: 28px;
    padding-bottom: 28px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807D74;
}